* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

.customizeBtn{
	margin: 20px;
	position: absolute;
}

.row{
	margin: 10px;
}
canvas {
	display: block;
	margin: auto;
	border: 2px solid black;
}

.scoreBoard{
	position: absolute;
}
